.chapter-container {
    display: flex;
    flex-direction: column;
  }
  
  .chapter-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  
  .chapter-info {
    margin-left: 10px;
    flex: 1;
  }
  
  .chapter-title {
    font-weight: bold;
    color: white;
  }
  
  .chapter-subtitle {
    color: white;
  }
  
  .chapter-image {
    max-width: 80px;
    margin-right: 10px;
  }
  
  .chapter-number-wrapper {
    border-right: 1px solid #ddd;
    padding-right: 10px;
    margin-right: 10px;
  }
  :root {
    --text-color: #ffffff;
  }  
  .comment-section {
    background: linear-gradient(to right, rgba(17, 17, 17, 0.8), rgba(113, 0, 178, 0.8));
    padding: 10px;
    border-radius: 8px;
  }
  
  .comment {
    background: linear-gradient(to right, rgba(17, 17, 17, 0.8), rgba(113, 0, 178, 0.8));
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 60%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
  }
  
  .comment-content {
    flex: 1;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.8), rgba(113, 0, 178, 0.8));
  }
  
  .comment-content p {
    margin: 0;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.8), rgba(113, 0, 178, 0.8));
    background-color: var(--main-bg-color);
    text-align: left;
  }
  
  .new-comment {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.8), rgba(113, 0, 178, 0.8));
    padding: 10px;
    border-radius: 8px;
  }
  
  .new-comment textarea {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.8), rgba(113, 0, 178, 0.8));
    color: white;
  }
  
  .new-comment button {
    background: linear-gradient(to right, rgba(17, 17, 17, 0.8), rgba(113, 0, 178, 0.8));
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .new-comment button:hover {
    background: linear-gradient(to right, rgba(113, 0, 178, 0.8), rgba(17, 17, 17, 0.8));
  }